<!doctype html>
<html>

<head>
  <title>Dashboard</title>
</head>

<body>
  <h3>Hello {{user.username}}</h3>
  <p>Welcome to your dashboard</p>
  <p>Here is the information we have on file for you:</p>
  <h4>username: {{username}}</h4>
  <h4>email: {{email}}</h4>
    <h4>firstname: {{firstname}}</h4>
    <h4>lastname: {{lastname}}</h4>
  <a href="/plans">Plans</a>
  <a href="/logout">Logout</a>
</body>

</html>